@import "../../common.less";

.recommand{
    &-list{
        margin: 0 0 30rpx;
        &-item{
            background-color: @theme;
            padding: 30rpx;
            margin-bottom: 30rpx;
            font-size: 28rpx;
            line-height: 44rpx;
            color: @word;
            &-all{
                display: inline-block;
                color: @active;
            }
            &-desc{
                //height: 200rpx;
                //display: -webkit-box;
                //-webkit-box-orient: vertical;
                //-webkit-line-clamp: 3;
                //overflow: hidden;
                color: @c;
                padding: 0 10rpx 15rpx;
            }
            &-icons{
                height: 30rpx;
                &-unit{
                    float: right;
                    vertical-align: middle;
                    display: inline-block;
                    color: @word;
                    font-size: 26rpx;
                    &-text{
                        margin-left: 15rpx;
                        display: inline-block;
                    }
                }
            }
            .resend{}
            .love{
                margin-left: 30rpx;
            }
        }
    }
}